.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ffffff;

  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 0px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin: 0 auto;
  width: 30%;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
  width: 60%;
}

.form-group label {
  margin-bottom: 10px;
  font-size: 18px;
}

.form-group input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

#search-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-btn:hover {
  background-color: #3e8e41;
}

.resultDiv {
  border-radius: 10px;
  background: #ffffff;
  margin: 20px auto 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.resultDiv p {
  font-size: 18px;
  text-align: center;
  color: #d61e27;
}

.anchor {
  text-align: center;
  margin: auto;
  font-size: 20px;
}

select {
  width: 100%;
}
